* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./1004-5616x3744.jpg);
  background-size: cover;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.owl-carousel {
  overflow: hidden;
}

.comment {
  padding: 10px;
  display: flex;
  background: rgba(40, 48, 67, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  color: snow;
}

.owl-carousel .owl-item img {
  height: auto;
  object-fit: cover;
  border-radius: 200px;
  align-self: center;
  margin: 30px;
  flex-direction: column;
}

.owl-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

.line-2 {
  color: snow;
}

.line-2::after,
.line-2::before {
  content: "-";
}

@media screen and (max-width: 600px) {
  .comment {
    display: flex;
    flex-direction: column;
  }
  .owl-carousel .owl-item img {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
}
